<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock-Paper-Scissors Winner</title>
        <script>
        var url = "";

            document.onkeydown = function(keyboard)
            {
                switch (keyboard.keyCode)
                {
                    case 32:
                        window.location = '/play_computer';
                };
            };

        </script>
    </head>
    <body>
        <div class="container text-center">
            {% if winner == "Draw" %}
                <h1>Draw!</h1>
            {% elseif winner == "Player 2" %}
                <h1>Computer Wins!</h1>
            {% else %}
                <h1>You Win!</h1>
            {% endif %}
            <hr>
            {%if winner == "Player 1" %}
                <div class="row">
                    <div class="col-sm-5">
                        <h2>You </h2>
                        {% if player1 == "Rock"%}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)
                  (_____)
                  (_____)
                  (____)
            ---.__(___)
                        </pre>
                        {% elseif player1 == "Paper" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                      _______)
                     _______)
            ---.__________)
                        </pre>
                        {% elseif player1 == "Scissors" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                   __________)
                  (____)
            ---.__(___)
                        </pre>
                        {%endif%}
                    </div>
                    <div class="col-sm-2" style="padding-top: 6em; padding-bottom: 6em;">
                        <h1>Beats</h1>
                    </div>
                    <div class="col-sm-5">
                        <h2>Computer </h2>
                        {% if player2 == "Rock"%}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)
                  (_____)
                  (_____)
                  (____)
            ---.__(___)
                        </pre >
                        {% elseif player2 == "Paper" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                      _______)
                     _______)
            ---.__________)
                        </pre >
                        {% elseif player2 == "Scissors" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                   __________)
                  (____)
            ---.__(___)
                        </pre>
                        {%endif%}
                    </div>
                </div>
            {% elseif winner == "Player 2" %}
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Computer </h2>
                        {% if player2 == "Rock"%}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)
                  (_____)
                  (_____)
                  (____)
            ---.__(___)
                        </pre >
                        {% elseif player2 == "Paper" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                      _______)
                     _______)
            ---.__________)
                        </pre >
                        {% elseif player2 == "Scissors" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                   __________)
                  (____)
            ---.__(___)
                        </pre>
                        {%endif%}
                    </div>
                    <div class="col-sm-2" style="padding-top: 6em; padding-bottom: 6em;">
                        <h1>Beats</h1>
                    </div>
                    <div class="col-sm-5">
                        <h2>You </h2>
                        {% if player1 == "Rock"%}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)
                  (_____)
                  (_____)
                  (____)
            ---.__(___)
                        </pre>
                        {% elseif player1 == "Paper" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                      _______)
                     _______)
            ---.__________)
                        </pre>
                        {% elseif player1 == "Scissors" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                   __________)
                  (____)
            ---.__(___)
                        </pre>
                        {%endif%}
                    </div>
                </div>
                {%else%}
                <div class="row">
                    <div class="col-sm-5">
                        <h2>You </h2>
                        {% if player1 == "Rock"%}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)
                  (_____)
                  (_____)
                  (____)
            ---.__(___)
                        </pre>
                        {% elseif player1 == "Paper" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                      _______)
                     _______)
            ---.__________)
                        </pre>
                        {% elseif player1 == "Scissors" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                   __________)
                  (____)
            ---.__(___)
                        </pre>
                        {%endif%}
                    </div>
                    <div class="col-sm-2" style="padding-top: 6em;">
                    </div>
                    <div class="col-sm-5">
                        <h2>Computer </h2>
                        {% if player2 == "Rock"%}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)
                  (_____)
                  (_____)
                  (____)
            ---.__(___)
                        </pre >
                        {% elseif player2 == "Paper" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                      _______)
                     _______)
            ---.__________)
                        </pre >
                        {% elseif player2 == "Scissors" %}
                        <pre class="text-left" style="width:23em; margin-left:auto; margin-right:auto;">
                _______
            ---'   ____)____
                      ______)
                   __________)
                  (____)
            ---.__(___)
                        </pre>
                        {%endif%}
                    </div>
                </div>
            {% endif %}
            <br>
            <br>
            <div >
                <h4>Hit space to play again!</h4>
                <p>I'd rather <a href="/">play a friend</a>.</p>
            </div>
        </div>

    </body>
</html>
